/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font: 14px/18px 'Times New Roman', Times, sans-serif;
    background-color: #FFF;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {  float: left; }
.right {  float: right; }
.text-right{text-align: right}
.text-left{text-align: left}


.container{
    width: 940px;
    margin: 0 auto;
}

#header{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 20px 0;
}

.logo{
    float: left;

}
.logo img{
    position: absolute;
    top: 0;
    height: 65px;
}

.nav{
    float: right;
}
.nav li{
    float: left;
    margin-right: 10px;
}
.nav li:last-child{
    margin-right: 0;
 }
.nav a{
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    color: #fff;
    padding: 20px;
 }
.nav a:hover{
    color: #f1c736;
}
#home{
    height: 700px;
    padding-top: 200px;
    text-align: center;
    color: #fff;
    background: #222 url(/cvetcaddStudio/img/head/background.jpg) no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

}

#home h3{
    margin-bottom: 40px;
    font: 40px/40px Arial, sans-serif;
}

#home h1{

    margin-bottom: 50px;
    font:75px/75px Arial, sans-serif;
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    padding: 20px 30px;
    background: #FED136;
    font: bold 24px/24px Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

.btn:hover{
    background: #f1b62f;
    color: #fff;
}

.box{
    padding: 100px 0;
}

#services{
    text-align: center;
    padding-bottom: 0;
}

h2.title{
    margin-bottom: 10px;
    font: bold 40px/40px Arial, sans-serif;
    color: #222;
    text-transform: uppercase;
}

h5.title{
    margin-bottom: 10px;
    font: bold 18px/18px Arial, sans-serif;
    color: #222;
}

.desc{
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
}

.services-wrap,
.portfolio-wrap,
.about-wrap,
.team-wrap,
#message{
    padding-top: 70px;
}

.services-item{
    float: left;
    width: 33.3%;
    padding: 150px 10px;
}
.services-item p{
    font-size: 18px;
    color: #777;
    line-height: 24px;
}

.commerce{
    background: url("/cvetcaddStudio/img/icons/idea.png") no-repeat center top;
}

.responsive{
    background: url("/cvetcaddStudio/img/icons/brainstorm.png") no-repeat center top;
}

.security{
    background: url("/cvetcaddStudio/img/icons/finger.png") no-repeat center top;
}


#portfolio{
    text-align: center;
    background: #f7f7f7;
}

.portfolio-item{
    float: left;
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 50px;
    background: #fff;
}

.portfolio-item:nth-child(3n){
    margin-right: 0;
}
.portfolio-item:nth-last-child(1),
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3){
    margin-bottom:0;
}

.p-item-footer{
    padding: 25px 20px;
}

.p-item-footer h5.title{
    margin-bottom: 4px;
}

#about{
    text-align: center;
}

.about-text{
    width: 35%;
}

.about-text h5{
    line-height: 24px;
}

.about-text p{
    font-size: 16px;
    line-height: 24px;
    color: #777;
}

.about-img{
    width: 30%;
    line-height: 0;
}
.about-img:after{
    content: "";
    display: block;
    margin: 0 auto;
    height: 94px;
    width: 3px;
    background: #f1f1f1;
}

.about-img img, .about-link{
    display: inline-block;
    width: 177px;
    height: 177px;
    vertical-align: bottom;

    border: 7px solid #f1f1f1;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}


.about-link{
    padding-top: 30px;
    background: #fed136;
    font: bold 18px/30px Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);

    -webkit-text-shadow: 0 1px rgba(0,0,0,0.3);
       -moz-text-shadow: 0 1px rgba(0,0,0,0.3);
        -ms-text-shadow: 0 1px rgba(0,0,0,0.3);
          o-text-shadow: 0 1px rgba(0,0,0,0.3);
            text-shadow: 0 1px rgba(0,0,0,0.3);

}
.about-link:hover{
    background: #febb35;
    color: #fff;

}

#team{
    text-align: center;
    background: #f7f7f7;

}

.team-item{
    float: left;
    width: 33%;
    padding: 0 10px;
}

.team-item img{


    margin-bottom: 15px;

    border: 7px solid #f1f1f1;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;

}
.rock{
    display: block;
    width: 600px;
    text-align: center;
    padding-left: 300px;
}
.cat{
    font: 14px/14px Arial, sans-serif;
    color: #777;

}

.social{
    margin-top: 10px;
}
.social a{
    margin: 0 3px;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.twitter-icon:hover svg *{
    fill: yellow;
}

.facebook-icon:hover svg *{
    fill: yellow;
}

.instagram-icon:hover svg *{
    fill: yellow;
}


#contact{
    text-align: center;
    background: #222;
}

#contact h2.title{
    color: #fff;
}

#message .left,
#message .right{  width: 48%;  }

#message input[type="text"],
#message textarea{
    background: #fff;
    border: 1px solid #fff;
    width: 100%;
    box-shadow: none;
    padding: 15px 20px;
    margin-bottom: 30px;
    font: bold 14px/14px Arial, sans-serif;
    color: #222;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#message input[type="text"]{
    height:50px;
    border: 1px solid #ccc;
}

#message textarea{
    border: none;
    height: 210px;
    resize: none;
}
::-webkit-input-placeholder{
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
    text-transform: uppercase;
}
::-moz-placeholder{
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
    text-transform: uppercase;
}
::-webkit-input-placeholder{
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
    text-transform: uppercase;
}

.whitebtn{
    color: #fff;
}

#copyright{
    padding: 25px 0;
}
#copyright .social{
    margin-top: 0;
    margin-left: 365px;
}

#copyright p{
    font: 14px/14px Arial, sans-serif;
    color: #555;
    margin-top: 15px;
}


#copyright .social a{
    display: inline-block;
    width: 40px;
    height: 40px;
}


