@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
html {
  height: 100%;
  font-size: 100%; }

body {
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  width: 100%;
  height: 100%;
  color: #293237;
  background: #faf8fb; }

a {
  color: #293237; }
  a:hover, a:focus {
    color: #c62f21 !important;
    text-decoration: none; }

:focus {
  outline: none; }

.relative {
  position: relative; }

i[class*="ic-"] {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat; }

i.ic-time {
  height: 17px;
  width: 17px;
  background-position: 0 0; }

i.ic-user {
  height: 17px;
  width: 19px;
  background-position: -17px 0; }

i.ic-arrow-down,
i.ic-arrow-down-white {
  height: 17px;
  width: 13px;
  background-position: -41px 0; }

i.ic-arrow-down-white {
  background-position: -41px -17px; }

i.ic-list {
  height: 20px;
  width: 19px;
  background-position: 0 -36px; }

i.ic-basket {
  height: 20px;
  width: 19px;
  background-position: -25px -36px; }

i.ic-arrow-right {
  height: 12px;
  width: 10px;
  background-position: -59px -3px; }

/*_____________style check box and radio*/
input[type="checkbox"],
input[type="radio"] {
  display: none; }

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 14px;
  margin: -3px 5px 0 0;
  background: url("../img/check-radio.png") no-repeat; }

input[type="checkbox"] + label::before {
  background-position: 0 0; }

input[type="radio"] + label::before {
  height: 16px;
  width: 16px;
  background-position: -14px 0; }

input[type="checkbox"]:checked + label::before {
  background-position: 0 -14px; }

input[type="radio"]:checked + label::before {
  background-position: -14px -16px; }

.h-nav {
  float: left;
  padding: 10px 0; }
  .h-nav a {
    position: relative;
    margin-right: 33px;
    font-size: 13px;
    color: #78828c; }
    .h-nav a i {
      margin-right: 3px; }
    .h-nav a.active {
      font-weight: 700;
      color: #c62f21; }
  .h-nav a:hover {
    color: #ff020a; }
    .h-nav a:hover i.ic-time {
      background-position: 0 -17px; }
    .h-nav a:hover i.ic-user {
      background-position: -17px -17px; }
  .h-nav a:last-child {
    margin-right: 0; }

.h-nav-tabs {
  padding: 10px 25px 10px 10px; }
  .h-nav-tabs a {
    font-size: 11px;
    text-transform: uppercase; }
    .h-nav-tabs a.active:after, .h-nav-tabs a.active:before {
      position: absolute;
      bottom: -15px;
      left: 50%;
      content: "";
      display: block;
      height: 0;
      width: 0;
      margin-left: -4px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 5px solid #fff; }
    .h-nav-tabs a.active:before {
      bottom: -13px;
      border-bottom: 5px solid #e8ecf2; }

.h-nav-center {
  padding: 10px 30px;
  border-right: 1px solid;
  border-left: 1px solid;
  background-color: #e8ecf2; }

/*HEADER_BOTTOM*/
.header-bottom {
  background: #fff;
  padding: 40px 0 25px;
  border-top: 1px solid #e8ecf2; }

#h-search {
  position: relative;
  max-width: 524px;
  margin-top: 12px; }
  #h-search input[type="text"] {
    height: 45px;
    width: 100%;
    padding: 0 50px 0 20px;
    font-size: 14px;
    color: #78828c;
    border: 2px solid #bdc3c9;
    border-radius: 15px; }
  #h-search input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    border: none;
    background: transparent url("../img/h-search.png") no-repeat center; }

.h-phone {
  float: right; }
  .h-phone > a {
    display: block;
    padding-left: 30px;
    background: url("../img/phone.png") no-repeat left 10px; }
    .h-phone > a:hover span {
      color: #e30613; }
  .h-phone small {
    font-size: 11px;
    color: #78828c; }
  .h-phone span {
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #464446; }

/* Dropdown menu*/
.dropdown-menu {
  background-color: #e8ecf2;
  padding: 0;
  margin-top: 20px;
  -webkit-box-shadow: 8px 8px 14px rgba(217, 223, 231, 0.54);
  -moz-box-shadow: 8px 8px 14px rgba(217, 223, 231, 0.54);
  box-shadow: 8px 8px 14px rgba(217, 223, 231, 0.54); }
  .dropdown-menu li {
    border-bottom: 1px solid #e8ecf2; }
    .dropdown-menu li a {
      padding: 12px 25px;
      text-align: center;
      font-weight: 600; }
    .dropdown-menu li:last-child {
      border: none; }

.arrow:after,
.arrow:before {
  position: absolute;
  top: -5px;
  left: 50%;
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-left: -4px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 5px solid #e8ecf2; }

.arrow:before {
  top: -6px;
  border-bottom: 5px solid #e8ecf2; }

/* Panel*/
.panel {
  padding: 5px;
  background: #fc0209; }
  .panel .btn {
    padding: 13px 20px;
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #AC1B1B;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px; }
  .panel a.btn:hover,
  .panel a.btn:focus {
    color: #fff !important; }
  .panel .btn:hover {
    -webkit-box-shadow: 2px 2px 4px rgba(100, 15, 15, 0.44);
    -moz-box-shadow: 2px 2px 4px rgba(100, 15, 15, 0.44);
    -o-box-shadow: 2px 2px 4px rgba(100, 15, 15, 0.44);
    box-shadow: 2px 2px 4px rgba(100, 15, 15, 0.44); }
  .panel .btn-menu {
    position: relative;
    width: 280px; }
    .panel .btn-menu i[class*="ic"] {
      position: absolute;
      top: 50%; }
    .panel .btn-menu .ic-list {
      left: 20px;
      margin-top: -10px; }
    .panel .btn-menu .ic-arrow-down-white {
      right: 20px;
      margin-top: -8px; }

.btn-basket {
  padding-right: 30px !important; }
  .btn-basket i.ic-basket {
    position: relative;
    top: -2px;
    margin-right: 15px; }

.panel-menu-wrap {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #Ac1b1b;
  border-right: none;
  background: #de0205;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }
  .panel-menu-wrap > li {
    float: left; }
    .panel-menu-wrap > li > a {
      background: #fc0209;
      border: none !important; }
      .panel-menu-wrap > li > a:after, .panel-menu-wrap > li > a:before {
        position: absolute;
        top: 0;
        right: -14px;
        z-index: 2;
        display: block;
        content: '';
        height: 0;
        width: 0;
        border-top: 23px solid transparent;
        border-left: 20px solid #f90209;
        border-bottom: 23px solid transparent; }
      .panel-menu-wrap > li > a:before {
        right: -16px;
        border-left: 20px solid #c00b0f; }

.panel-menu {
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  width: 280px;
  height: 550px;
  margin: 3px 0 0 0;
  padding: 10px 0 0 0;
  list-style-type: none;
  border: 1px solid #e8ecf2;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 8px 10px rgba(217, 223, 231, 0.6);
  -moz-box-shadow: 4px 8px 10px rgba(217, 223, 231, 0.6);
  -o-box-shadow: 4px 8px 10px rgba(217, 223, 231, 0.6);
  box-shadow: 4px 8px 10px rgba(217, 223, 231, 0.6); }
  .panel-menu ul {
    position: absolute;
    top: -1px;
    left: 100%;
    display: none;
    width: 100%;
    height: 550px;
    padding: 10px 0 0 0;
    margin: 0 0 0 -5px;
    list-style-type: none;
    border: 1px solid #e8ecf2;
    background: #fff;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: 4px 8px 10px rgba(217, 223, 231, 0.6);
    -moz-box-shadow: 4px 8px 10px rgba(217, 223, 231, 0.6);
    -o-box-shadow: 4px 8px 10px rgba(217, 223, 231, 0.6);
    box-shadow: 4px 8px 10px rgba(217, 223, 231, 0.6); }
  .panel-menu li:hover > ul {
    display: block; }
  .panel-menu a {
    display: block;
    padding: 6px 20px 6px 17px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.5px;
    border-left: 3px solid transparent; }
    .panel-menu a i {
      float: right;
      margin-top: 4px; }
  .panel-menu li.divider {
    margin: 9px 0;
    border-bottom: 1px solid #e8ecf2; }
  .panel-menu li.sale a {
    border-left: none;
    padding-left: 50px;
    background: url("../img/sale.png") no-repeat 20px center; }
  .panel-menu li.selected > a {
    border-color: #ff020a;
    font-weight: 600;
    color: #e30613; }
    .panel-menu li.selected > a i {
      background-position: -59px -18px; }

.sp {
  position: relative;
  display: block;
  height: 46px;
  width: 272px;
  font-weight: bold;
  font-size: 13px;
  line-height: 46px;
  color: #fff;
  text-align: center;
  background: #de0205;
  -webkit-border-radius: 0 8px 8px;
  -moz-border-radius: 0 8px 8px;
  border-radius: 0 8px 8px; }
  .sp i {
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -8px; }
  .sp:after, .sp:before {
    position: absolute;
    top: 0;
    right: -14px;
    z-index: 2;
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-top: 23px solid transparent;
    border-left: 20px solid #de0205;
    border-bottom: 23px solid transparent; }
  .sp:before {
    right: -16px;
    border-left: 20px solid #c00b0f; }

/*---Content----*/
.product-wrap {
  border: 1px solid #dcdcdc;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.product {
  height: 400px;
  padding: 20px 20px 25px;
  border-right: 1px solid #e8ecf2;
  border-bottom: 1px solid #e8ecf2; }
  .product:hover {
    -webkit-box-shadow: 8px 8px 10px rgba(217, 223, 231, 0.6);
    -moz-box-shadow: 8px 8px 10px rgba(217, 223, 231, 0.6);
    -o-box-shadow: 8px 8px 10px rgba(217, 223, 231, 0.6);
    box-shadow: 8px 8px 10px rgba(217, 223, 231, 0.8); }
  .product:nth-child(3n) {
    border-right: none; }
  .product:nth-last-child(1), .product:nth-last-child(2), .product:nth-last-child(3) {
    border-bottom: none; }

.product-img {
  position: relative;
  text-align: center;
  height: 240px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e8ecf2; }
  .product-img:hover .review {
    display: block; }
  .product-img img {
    display: inline-block;
    width: 100%;
    height: auto; }

.product-footer {
  height: 75px; }
  .product-footer h5 {
    margin: 0;
    font-size: 14px;
    line-height: 18px; }
    .product-footer h5 a {
      font-weight: 600; }

.cat {
  font-size: 13px;
  color: #78828c; }

.price {
  font-weight: 900;
  font-size: 14px;
  color: #e30613; }

.review {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 195px;
  margin: -25px 0 0 -93px;
  padding: 12px 12px 12px 50px;
  cursor: pointer;
  color: #fff;
  text-align: left;
  background: rgba(0, 0, 0, 0.7) url("../img/occhi.png") no-repeat 15px center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

/*_______________SIDEBAR*/
.sidebar-item {
  padding: 20px;
  border-bottom: 1px solid #efecf2; }
.sidebar-title {
  margin: 0 0 15px 0;
  color: #293237;
  font-weight: 900;
  text-transform: uppercase; }
.sidebar-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .sidebar-list-check {
    margin: 0;
    padding: 0;
    list-style: none; }
  .sidebar-list li {
    margin-bottom: 10px; }
    .sidebar-list li:last-child {
      margin-bottom: 0; }
  .sidebar-list a {
    font-weight: 600;
    font-size: 13px; }
    .sidebar-list a.active {
      color: #e30613; }

.bl-x2 li {
  float: left;
  width: 50%; }

.more {
  font-weight: 600;
  font-size: 13px;
  color: #77818b; }

.plus {
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  font-weight: 600;
  font-size: 20px; }

.sl-slider {
  margin-bottom: 30px; }
  .sl-slider input[type="text"] {
    width: 75px;
    height: 32px;
    margin: 0 3px;
    padding: 0 5px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .sl-slider label {
    font-weight: 600;
    font-size: 13px; }

/* Ползунок -----------------------------
---------------------------------------*/
.ui-slider {
  margin-bottom: 10px;
  position: relative;
  text-align: left; }

/* Ширина, высота и позиционирование для ползунков
----------------------------------*/
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 15px;
  height: 15px;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  cursor: pointer; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit; }

/* Высота горизонтальной полоски
----------------------------------*/
.ui-slider-horizontal {
  height: 5px; }

.ui-slider-horizontal .ui-slider-handle {
  top: 100%;
  margin-left: -8px; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

/* Ширина вертикальной полоски
----------------------------------*/
.ui-slider-vertical {
  width: .8em;
  height: 100px; }

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

/* Указание шрифта и размера текста
----------------------------------*/
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em; }

/* Стилизация полоски
----------------------------------*/
.ui-widget-content {
  background: #AEB4BA;
  color: #222222; }

.ui-widget-content a {
  color: #222222; }

/* Стилизация промижудка между ползунками
----------------------------------*/
.ui-widget-header {
  background: #3C4395;
  color: #222222;
  font-weight: bold; }

.ui-widget-header a {
  color: #222222; }

/* Стилизация ползунков
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  font-weight: normal;
  color: #555555;
  width: 0;
  height: 0;
  border-bottom: 8px solid #494E51;
  border-left: 8px solid transparent; }

#slider-range span:last-child {
  border-bottom: 8px solid #494E51;
  border-right: 8px solid transparent;
  border-left: none;
  margin-left: 0; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555;
  text-decoration: none; }

/* Стилизация ползунка при наведении и фокусе
----------------------------------*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  font-weight: normal;
  color: #212121; }

/*# sourceMappingURL=style.css.map */
